@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html {
	overflow-x: hidden;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #3c3a3d;
}
.container {
	max-width: 1000px;
}
.small-container {
	max-width: 560px;
}
.btn-default {
	background: none;
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
}
.main-banner .btn-info {
	background: #49b23d;
	box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.50);
	/*border: 2px solid #49b23d;*/
	border: none;
	border-radius: 3px;
	color: #fff;
}

.main-banner .btn-info:hover {
	background: #439b37;
	border: none;
}
.well {
	background-color: #f2fdff;
	border-color: #a0d4de;
}


header {
	background: #fff;
	color: #3c3a3d;
	padding: 8px 0;
	position: fixed;
	height: 70px;
	text-align: center;
	z-index: 99;
	width: 100%;
}
header .navbar {
	border: none;
	background: none;
	margin: 0;
}
header .navbar-right {
	margin-right: 65px;
}
header .navbar .logo {
	line-height: 50px;
	font-size: 21px;
	text-transform: uppercase;
}
header .navbar .logo img {
	margin-right: 10px;
}
.navbar-default .navbar-nav > li > a {
	color: #3c3a3d;
	font-size: 14px;
}
.navbar-default .navbar-nav > li.active > a {
	background-color: #3e93c6;
	color: #fff;
	border-radius: 3px;
}
.navbar-default .navbar-nav > li.active > a:hover {
	background-color: #3177a0;
	color: #fff;
	border-radius: 3px;
}
.navbar-default .navbar-nav > li > a.btn {
	height: 36px;
	line-height: 33px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 7px 0 7px 17px;
}
.navbar-default .navbar-nav > li > a.btn-default {
	color: #3e93c6;
	/*border-bottom: 1px dashed #3e93c6;*/
	border: 2px solid #3e93c6;
}
.navbar-default .navbar-nav > li > a.btn-default:hover {
	border: 2px solid #3e93c6;
	background: #3e93c6;
	color: #fff;
}
/*.navbar-default .navbar-nav > li > a.btn-info {*/
	/*color: #fff;*/
	/*background: url(../images/ribbon.png) center no-repeat;*/
	/*border: none;*/
	/*height: 103px;*/
	/*width: 93px;*/
	/*position: absolute;*/
	/*z-index: 60;*/
    /*top: -17px;*/
    /*line-height: 74px;*/
	/*border-radius: 0;*/
/*}*/

.navbar-default .navbar-nav > li > a.btn-info {
	background: #49b23d;
	border: 1px solid #49b23d;
	border-radius: 3px;
	color: #fff;
	/*box-shadow: 2px 3px rgba(0,0,0,0.1);*/
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.15);
}

.navbar-default .navbar-nav > li > a.btn-info:hover {
	background: #439b37;
}


.main-banner {
	background: url(../images/main-image2.jpg) center no-repeat;
	background-size: cover;
	min-height: 605px;
	color: #fff;
	position: relative;
	padding-top: 40px;
}
.main-banner img {
	position: absolute;
	margin-top: 90px;
	top: 175px;
	left: 50%;
	transform: translate(-50%, 42%);
	-webkit-transform: translate(-50%, 42%);
	-ms-transform: translate(-50%, 42%);
}
.main-banner h1 {
	font-size: 46px;
	max-width: 500px;
	margin: 90px auto 20px;
	text-shadow: 2px 2px rgba(0,0,0,0.4);
}
.main-banner p {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 0;
	font-weight: 400;
	text-shadow: 2px 2px rgba(0,0,0,0.4);
}
.main-banner a {
	margin: 30px 10px 0;
}
.main-banner .btn-default {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px dashed #fff;
}
.main-banner .btn-default:hover {
	border: 2px solid #fff;
	background: none;
	color: #fff;
}

.streamline {
	padding-top: 245px;
	background: url(../images/stream-bg.png) center top repeat-x;
}
.streamline h2 {
	font-size: 34px;
    line-height: 42px;
    margin: 10px auto;
    max-width: 550px;
    color: #3c3a3d;
}
.streamline .col-md-4 {
	padding: 23px 25px 40px;
	font-size: 16px;
	color: #777;
}
.stream-item {
	background: #fff;
	border-radius: 3px;
}
.stream-item p {
	padding: 20px;
	font-size: 16px;
}
.stream-item .title {
	font-size: 18px;
	height: 51px;
	line-height: 51px;
	color: #fff;
	font-weight: 500;
}
.streamline .col-md-4:nth-child(1) .stream-item {
	border-bottom: 2px solid #53aee5;
}
.streamline .col-md-4:nth-child(1) .stream-item .title {
	background: #53aee5;
	border-radius: 3px;
}
.streamline .col-md-4:nth-child(2) .stream-item {
	border-bottom: 2px solid #49bb7b;
}
.streamline .col-md-4:nth-child(2) .stream-item .title {
	background: #49bb7b;
	border-radius: 3px;
}
.streamline .col-md-4:nth-child(3) .stream-item {
	border-bottom: 2px solid #fda861;
}
.streamline .col-md-4:nth-child(3) .stream-item .title {
	background: #fda861;
	border-radius: 3px;
}

.features h3 {
	font-size: 26px;
    margin: 28px 0 38px;
    font-style: italic;
}
.features .title {
	font-size: 18px;
	font-weight: 600;
	line-height: 35px;
	color: #3f4457;
}
.features i {
	font-size: 40px;
	position: relative;
	color: #53aee5;
	margin: 10px 0;
}
.feature-item {
	background: #ebf7ff;
	margin-bottom: 30px;
	padding: 10px 70px;
	height: 260px;
	font-size: 16px;
}

.carousel.slide .carousel-control {
	display: none;
}
.carousel.slide .carousel-indicators {
	position: static;
	margin: 0 auto 20px;
}
.carousel.slide .carousel-indicators li {
	width: 23px;
	height: 23px;
    border: 5px solid #3f4457;
    border-radius: 23px;
}
.carousel.slide .carousel-indicators .active {
	width: 24px;
	height: 24px;
    background: #3f4457;
}
.carousel.slide .carousel-inner img {
	margin: 0 auto;
}

.plans {
	padding: 15px 0;
}
.plans h3 {
	font-size: 26px;
    margin: 18px 0 38px;
    font-style: italic;
}
.plans h2 {
	font-size: 34px;
    line-height: 42px;
    margin: 20px auto 0;
    max-width: 550px;
    color: #3c3a3d;
}
.plans a.btn {
	background: #ecac00 none repeat scroll 0 0;
    border-color: #ecac00;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    height: 74px;
    line-height: 52px;
    margin-bottom: 20px;
    margin-top: 36px;
    width: 273px;
    font-size: 22px;
}
.plans table {
	font-size: 16px;
}
.plans th {
	font-size: 18px;
	text-align: center;
}

.switching h2 {
	font-size: 37px;
    margin: 57px 0;
	color: #3f4457;
}
.switching dl {
	margin-bottom: 0;
}
.switching dt {
    color: #7d71c2;
    font-size: 20px;
    font-weight: normal;
}
.switching dd {
	font-size: 16px;
    margin-bottom: 45px;
}
.learn {
	margin-bottom: 92px;
}
.learn h2 {
	font-size: 21px;
    margin: 12px 0;
}
.learn form {
	margin-top: 20px;
}
.learn .form-group {
	float: left;
    margin-left: 0;
    margin-right: 17px;
    width: 331px;
}

.question {
	background: url(../images/main-bg.png) center no-repeat;
	background-size: cover;
	min-height: 700px;
	padding: 25px 0;
}
.question h2 {
	font-size: 46px;
	line-height: 52px;
	color: #fff;
	margin-bottom: 26px;
	font-weight: normal;
}
.question input {
	height: 44px;
	background: #736f75;
	color: #fff;
	text-align: center;
	border: none;
}
.question textarea {
	height: 220px;
	background: #736f75;
	color: #fff;
	text-align: center;
	border: none;
}
.question button {
	display: block;
    font-size: 18px;
    height: 50px;
    margin: 0 auto;
    width: 204px;
    border-color: #53aee5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    background: #53aee5;
    margin-top: 40px;
}

.footer {
	height: 50px;
	line-height: 50px;
}
.socials a {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: #3c3a3d;
	border-radius: 5px;
	color: #fff;
	line-height: 38px;
	margin: 0 3px;
	position: relative;
	top: 3px;
}
.socials a i {
	color: #fff;
	font-size: 23px;
}

#demo-gif, #demo-gif-image {
	max-width: 725px;
	padding-bottom: 20px;
}

#demo-gif-image {
	cursor: pointer;
}