.content-container {
    margin-left: 15px;
    margin-right: 15px;
    max-width: calc(100% - 30px);
    min-height: 100vh;
}

/* Begin vertical centering custom CSS */
.vertical-center-container {
    display: inline-flex;
}

div.app-header-fixed.vertical-center-container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.vertical-center {
    margin: auto auto auto auto;
}
/* End vertical centering custom CSS */

/* Remove extra padding for row from register page */
.small-padding {
    padding: 6px 12px;
}

@media screen and (min-width: 1200px) {
    .border-right {
        border-right: 1px solid #e7ecee;
    }
}
@media screen and (max-width: 1199px) {
    .border-right {
        border-bottom: 1px solid #e7ecee;
    }
}
/* End remove extra padding */

@media (min-width: 768px) {
    .app-aside, .navbar-header {
        width: 80px;
    }

    .navbar-collapse, .app-content, .app-footer {
        margin-left: 80px;

    }
}

a.navbar-brand {
    font-weight: 800;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 10px;
    /*text-transform: uppercase;*/
}

.app-header {
    width: 100%;
    z-index: 99;
}

.bg-black .text-lt {
    color: #FFFFFF !important;
}

a.navbar-brand span {
    font-weight: 600;
}

.bg-black {
    color: #7793a7;
    background: #53aee5;
}

div.app-header.navbar > div.collapse > ul.nav > li > a {
    color: #f1f1f3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: "Open Sans", Verdana, sans-serif;
}

div.app-header.navbar > div.collapse > ul.nav > li.active > a {
    background-color: #3c86d0;
}

div.app-header.navbar > div.collapse > ul.nav > li > a:hover {
    color: #ffffff;
    background-color: #3c86d0;
}

/* Begin Calendar table css */
.calendar-table {
    table-layout: fixed;
    border: 1px solid #eeeeee;
    margin-bottom: -5px;
}

.table>thead>tr>th {
    padding: 1px 1px;
    white-space: nowrap;
    overflow: hidden;
}
.table>thead>tr>th:not('.calendar-beds') {
    text-overflow: ellipsis;
}

.calendar-table tbody td {
    height: 20px;
    /* used to be #eeeeee*/
    border: 1px solid #D8D8D8;
}

.calendar-table thead {
    background: #ffffff !important;
    padding-bottom: 3px;
    border-bottom: 1px solid #D8D8D8;
}

.calendar-table .calendar-month td {
    width: 125px;
    border-left: none;
}

.calendar-table .calendar-beds {
    width: 10px;
    padding: 0;
    padding-bottom: 10px;
}

table > thead > tr.calendar-date > th.calendar-beds {
    border-top: 1px solid #eee;
    transform: rotate(270deg);
}

table > thead > tr.calendar-month > td.calendar-beds {
    width: 25px;
}
.calendar-table tbody td.bednumber {
    padding: 0px;
    font-weight: 600;
}

.calendar-table>tbody>tr>td {
    vertical-align: middle;
    padding: 0px;
}


.calendar-table>tbody>tr>td.booking-cell {
    color: #474747;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.calendar-table>tbody:after {
    content: '';
    display: block;
    height: 2px;
}

.calendar-table .month-border {
    border-right: 2px solid #dedede !important;
}

.calendar-table tbody tr:first-child {
    border-top: 2px solid #dedede !important;
}

.calendar-table tbody tr:last-child {
    border-bottom: 2px solid #dedede !important;
}

.site-head .hostelname {
    font-weight: 400 !important;
    font-size: 11px;
    text-transform: none;
}
/* End Calendar table css */

.pt15 {
    padding-top: 15px;
}

div.app-header.navbar > div.collapse > ul.nav > li > a {
    background: #3974bb;
}

html {
    height: auto;
    /*background: #fff;*/
}

body {
    min-height: 100%;
    height: auto;
    background: #fff;
}

/*body {*/
    /*background: #f0f3f4;*/
/*}*/

.panel-default {
    border-color: #EFEFEF;
}

.calendar-panel-heading {
    height: 50px;
}

/* Override Datepicker defaults */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #58666e;
    text-align: center;
}

.ui-datepicker tbody>tr>td:hover, .ui-datepicker .ui-state-active {
    background: #23b7e5;
}

.ui-datepicker tbody>tr>td a:hover, .ui-datepicker .ui-state-active {
    color: #ffffff;
}

.ui-datepicker-header {
    background: #23b7e5;
    border: none;
    color: #ffffff;
}

.ui-datepicker thead tr {
    background: #F0F3F4;
}

.ui-datepicker th {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #58666e;
    text-align: center;
}

table.ui-datepicker-calendar {
    table-layout: fixed;
}
/* End datepicker overrides */

.calendar-panel-selectdate {
    padding-left: 15px;
    width: 175px;
}

.navbar-right .dropdown-toggle {
    padding: 15px 15px;
    cursor: pointer;
    color: #f1f1f3;
    /*margin-right: 50px;*/
}

.navbar-right .dropdown-toggle:hover {
    color: #ffffff;
    background-color: #3c86d0;
}

#settings .panel-body {
    border: none !important;
}

/* Begin settings sidebar code */
.settings_sidebar_wrap ul.nav li a {
    color: #babcc4;
    font-weight: 400;
}

.settings_sidebar_wrap ul.nav li a:hover {
    color: #ffffff;
    background: #282d3f;
}

.settings_sidebar_wrap li.heading {
    color: #ececec;
    font-size: 14px;
}

.settings_sidebar_wrap li.active {
    background-color: #282d3f;
}

/* End settings sidebar code */

.table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 1px 1px;
}

table td button {
    margin-right: 2px;
}

.roomtypes .form-control {
    padding: 6px 2px;
}

.room {
    padding: 0px 2px;
}

#dashboard-sidebar {
    width: 55px;
    /*position: absolute; */
    position: fixed;
    right: 0px;
    top: 0px;
    background: #f6f8f8 !important;
    border-left: 1px solid #dee5e7;
    border-right: 1px solid #dee5e7;
    z-index: 50;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}


#dashboard-sidebar ul.dashboardSidebar>li {
    border-bottom: 1px solid #dee5e7;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

#dashboard-sidebar li:not(.sidebarContainer) {
    cursor: pointer;
}

#dashboard-sidebar li:not(.sidebarContainer):not(#openDashboardSidebar):hover {
    /*background: #e8eaea;*/
}

#searchBookings:hover, #unallocatedBookings:hover, #bookingDetails:hover, #cashRegister:hover  {
    background: #e8eaea;
}



#dashboard-sidebar li>a {
    padding-left: 0px;
    padding-right: 0px;
    color: #7266ba;
}

#dashboard-sidebar #openDashboardSidebar {
    background: #7266ba;
    padding-bottom: 2px;
}

#dashboard-sidebar #openDashboardSidebar:hover {
    background: #5a50a0;
    padding-bottom: 2px;
}

#dashboard-sidebar #openDashboardSidebar i.fa {
    color: #ffffff !important;
}

#dashboard-sidebar ul.expanded #openDashboardSidebar {
    padding-left: 605px;
}

/* Commented 2016-04-06
#dashboard-sidebar #bookingDetailsContainer ul li {
    padding-left: 4px;
    padding-right: 4px;
}

*/

.badge.up-large {
    position: relative;
    top: -45px;
    margin-bottom: -35px;
    margin-left: 15px;
}

#dashboard-sidebar h2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 5px;
    display: inline-block;
    font-size: 15px;
    color: #7266ba;
}

#mb20 {
    margin-bottom: -20px;
}

/*
#dashboard-sidebar li#bookingDetailsContainer, #dashboard-sidebar li#addBookingContainer {
    background: #F8F8F8;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}*/

#bookingDetailsContainer li.active a {
    border: none;
    font-weight: bold;
}

#bookingDetailsContainer li.active {
    border-bottom: 2px solid #53aee5;
}

#bookingDetailsContainer .tab-container .tab-content {
    border-left: transparent;
    border-right: transparent;
}

#bookingDetailsContainer .tab-container ul.nav-tabs li:first-child a {
    border-left: transparent;
}

#bookingDetailsContainer #total_label {
    margin-top: 7px;
    font-weight: bold;
    font-size: 14px;
}

#bookingDetailsContainer #total {
    font-size: 14px;
    font-weight: bold;
}

#cashRegisterContainer>form>.modal-header, #cashRegisterContainer>form>.modal-body, #cashRegisterContainer>form>.modal-footer {
    padding: 0;
}

.nopadding {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.form-control[readonly] {
    cursor: default;
}

.hover {
    background: #FEC16F !important;
    cursor: pointer;
}

.no-hover {
    background: #7266ba !important;
}

#sidebar-search {
    /*margin-left: 10px;*/
    margin-right: 10px;
    margin-top: 10px;
    width: 250px;
}

/*#sidebar-search > .select2-container--default .select2-selection--single {*/
    /*border: 1px solid #aaa;*/
    /*background-color: #ffffff;*/
    /*color: #ABABAB;*/
/*}*/

.datepicker {
    margin: 0px 0px;
}

.panel-heading .datepicker {
    text-align: center;
    width: 105px !important;
}

.padding5 {
    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    font-size: 18px;
}

#POSCategory_Container button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#payment {
    margin-top: 50px;
}

#payment .form-group {
    margin-bottom: 7px;
}

.modal-open .modal {
    overflow-y: hidden;
}

.label-footer {
    text-align: center;
}

footer.site-foot {
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
    padding-bottom: 35px;
}

#dashboard-footer {
    position: fixed;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background: #F0F3F4;
    border-top: 1px solid #dedede;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

body.pdf {
    background: none !important;
}

.pdf table {
    border: 1px solid #cecece;
}

.pdf table thead {
    font-weight: 800;
    font-size: 16px;
}

.pdf table td {
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;

}

.pdf table td .alignright {
    text-align: center;
}

.booking-cell:not(.unallocated) {
    cursor: pointer !important;
}

/* Commented 2016-04-06
#dashboard-sidebar #bookingDetailsContainer > .tab-container > .tab-content > .tab-pane:first-of-type {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90vh;
    background: #F6F8F8;
    padding: 5px 5px 5px;
}


#dashboard-sidebar .tab-container .tab-content {
    padding: 0;
}*/

/* Commented 2016-04-06

#dashboard-sidebar .nav-tabs>li:first-child>a {
    background: #F6F8F8;
    border-bottom-color: #F6F8F8 !important;
}

*/

/*
#dashboard-sidebar .tab-pane:first-child {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}*/

/* Commented 2016-04-06

#dashboard-sidebar .tab-pane:not(:first-child) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background: #ffffff;
}

*/

.tab-container {
    margin-bottom: 0px;
}

.tab-container .tab-content {
    padding: 5px;
}

#dashboard-content {
    /* Absolute positioning so that sidebar covers dashboard content */
    position: absolute;
    width: calc(100% - 30px);
    padding: 0;
}

/*
.purple {
    color: #7266ba;
}*/

.dashboard-sidebar-icon {
    color: #7266ba;
    padding-top: 5px;
    padding-bottom: 10px;
}

.dashboard-sidebar-text {
    padding-top: 12px;
    font-size: 10px;
}

.badgefix {
    height: 40px;
}

table.dayView>thead>tr>th {
    border-right: 1px solid #eaeff0;
    border-top: 1px solid #eaeff0;
    border-left: 1px solid #eaeff0;
    padding: 3px 3px 3px 3px;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
}

table.dayView tr {
    border-top: 1px solid #eaeff0;
}

.dayview-selectdate {
    width: 175px;
}

.dayView td, .dayView th {
    text-align: center;
}

.dayView .totalRow {
    font-size: 14px;
    font-weight: 600;
}

.dateRow {
    cursor: pointer;
}

.ui-slider-handle {
    background: #23b7e5 !important;
}

.headingAmount {
    font-size: 16px;
}

.grandtotal {
    font-size: 18px;
    font-weight: bold;
}

.deleteStay {
    margin-left: 4px;
    margin-top: 7px;
}

.addStay {
    color: #949292;
    margin-left: 8px;
    margin-top: 7px;
}

.deleteItem, .deletePayment {
    margin-left: -5px;
    margin-right: -5px;
}

.deleteStay:hover, .deleteItem:hover, .deletePayment:hover {
    color: red !important;
    cursor: pointer;
}

.addStay:hover {
    color: #232323 !important;
    cursor: pointer;
}

.number_of_nights, .number_of_guests {
    padding: 5px 6px;
    margin-left: 5px;
}

.invoiceRow {
    font-size: 12px;
    font-weight: bold;
}

tr.invoiceRow>td {
    padding-top: 6px !important;
}

.invoiceRow a {
    color: #233280;
}

#invoice {
    width: 350px;
    margin-left: 10px;
}

#invoice h2, #invoice h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

#invoice p {
    margin-bottom: 2px;
    margin-top: 10px;
}

#invoice table th {
    padding: 2px 2px 2px 2px;
}

#invoice table tr {
    border: 1px solid #dedede;
}

#myallocatorLogContainer {
    padding-bottom: 20px;
}

#myallocatorLogContainer p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.seasonRates {
    padding-left: 15px;
}

.seasonRates .nav-pills {
    border-right: 1px solid #eeeeee;
}

.seasonRates .tab-pane {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.seasonRates th, .seasonRates td {
    text-align: center;
}

/*#bookingDetails {*/
    /*background: #53aee5 !important;*/
/*}*/

#bookingDetailsContainer {
    width: 620px;
    height: calc(100% - 50px);
    z-index: 99;
    position: fixed;
    top: 50px;
    right: 0px;
    background: #fff;
    overflow-y: scroll;
    /*border-left: 1px solid #dedede;*/
    /*box-shadow: -2px 4px 5px -2px rgba(0,0,0,0.20);*/
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

#bookingDetailsContainer .panel {
    width: 100% !important;
}

#bookingDetailsContainer .panel-body {
    padding: 5px;
}

#deleteButtonsMenuContainer {
    right: -60px;
}

.tableFloatingHeaderOriginal {
    left: -3px !important;
}

#BookingLabel {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #B0F9EA;
    height: 12px;
    width: 12px;
    z-index: 2;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #dedede;
}

.changeLabel-menu {
    z-index: 50;
}

/* hostelpro-alan.css */

/* Set the day name to a single character for smaller screens */
@media only screen and (max-width: 1150px) {
    .calendar-dayofweek{
        display: inline-block;
        font-size: 0;
    }
    .calendar-dayofweek:first-letter {
        font-size: 14px;
    }
}

/* Hide the dates by setting the text transparent */
.table-striped>tbody>tr:nth-of-type(even) .addStay,
.table-striped>tbody>tr:nth-of-type(odd) .addStay{
    color: transparent;
}

.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fff;
}

/* Setting the hover/selected state of the active cell. Hover doesn't need to be JS? */
.addingStay,
.hover{
    background-color: #FEC16F;
    color: #474747 !important;
    font-size: 14px !important;
}

/* Remove backgrounds etc from the Panel Header */
.panel-default{
    background: transparent;
    border: 0;
}

.panel-default .panel-heading{
    background: transparent;
    border: 0;
    height: auto;
    padding: 11px 0 10px 0;
}

.panel-heading-review {
    background-color: #f9f9f9;
    border: 0;
    border-bottom: 1px solid #dedede;
    height: auto;
    padding: 11px 0 10px 0;
}

/* Set the actual Calendar backround to be white */
.calendar-container{
    background: #fff;
}

.calendar-table{
    border: 1px solid #dedede;
}

.tableFloatingHeaderOriginal,
.table>thead>tr>th {
    border: 0;
    border-top: 1px solid #eaeff0;
}

.calendar-table tr .month-border{
    border-right-width: 1px !important;
}

.calendar-table tr .month-border:last-of-type{
    border-right-width: 0 !important;
}

.calendar-table tr.calendar-date th.weekend {
    background: #f0f3f4;
}

/* Active state for the Today button */
#setCalendarToToday{
    background: #53aee5;
    border-color: #53aee5;
    border-radius: 2px;
    margin-top: 1px;
    padding: 5px 12px;
}


/* Style the button groups */

.calendar-selectViewMode {
    margin-right: 10px;
    margin-left: 15px;
}

.calendar-selectViewMode label {
    min-width: 80px;
}

.btn-default{
    -webkit-box-shadow: 0;
    box-shadow: none;
}

.form-control{
    border-color: #dee5e7;
    border-bottom-color: #d8e1e3;
}

.form-control:hover {
    border-color: #c7d3d6;
}

.btn-group .btn-primary{
    background: #fff;
    border-color: #dee5e7;
    border-bottom-color: #d8e1e3;
    font-size: 14px;
    color: #474747 !important;
}

.btn-group .btn-primary:hover{
    background: #edf1f2;
    border-color: #c7d3d6;
    z-index: 0;
}

.btn-group .active,
.btn-group .active:hover{
    background: #53aee5;
    border-color: #53aee5;
    color: #fff !important;
    z-index: 0;
}


/* Dashboard footer */

.calendar-key {
    list-style: none;
    margin: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.calendar-key li{
    display: inline-block;
    font-size: 12px;
    margin: 0 1em 0 0;
}

.calendar-key span{
    border: 1px solid #aaa;
    display: inline-block;
    margin-bottom: -4px;
    margin-right: 2px;
    height: 16px;
    width: 16px;
    background: #333;
}



/* Highlight the date for the currently selected calendar entry */

.tableFloatingHeaderOriginal>tr.calendar-date>th.date-highlight {
    border-top: 2px solid #484d62;
}

/* General Calendar styling */

.calendar-table thead{
    padding-bottom: 0;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.tableFloatingHeaderOriginal>tr.calendar-month,
.tableFloatingHeaderOriginal>tr.calendar-date{
    background: #fff;
}

.calendar-table>tbody>tr>td{
    color: #333;
    overflow: hidden;
}

.calendar-table>tbody>tr>td.calendar-booking-checked-in-paid,
.calendar-key .booking-checked-in-paid span,
span.booking-checked-in-paid{
    background: #7ee46a;
}

.calendar-table>tbody>tr>td.calendar-booking-checked-in-unpaid,
.calendar-key .booking-checked-in-unpaid span{
    background-color: #7ee46a;
    background-image: repeating-linear-gradient(
            45deg,
            transparent 1px,
            rgba(80,166,70, .6) 2px,
            transparent 3px,
            transparent 6px
    );
    text-shadow: 0 0 5px #7ee46a, 0 0 5px #7ee46a, 0 0 10px #7ee46a, 0 0 10px #7ee46a, 0 0 10px #7ee46a;
}

.calendar-table>tbody>tr>td.calendar-booking-unpaid,
.calendar-key .booking-unpaid span,
span.booking-unpaid{
    background: #64d7f2;
}

.calendar-table>tbody>tr>td.calendar-booking-checked-in-paid2,
.calendar-key .booking-checked-in-paid2 span{
    background-color: #64d7f2;
    background-image: repeating-linear-gradient(
            45deg,
            transparent 1px,
            rgba(0,168,212, .7) 2px,
            transparent 3px,
            transparent 6px
    );
    text-shadow: 0 0 5px #64d7f2, 0 0 5px #64d7f2, 0 0 10px #64d7f2, 0 0 10px #64d7f2, 0 0 10px #64d7f2;
}


.calendar-table>tbody>tr>td.calendar-booking-checked-out,
.calendar-key .booking-checked-out span,
span.booking-checked-out{
    background: #ddd;
}

.calendar-table>tbody>tr>td.calendar-booking-blocked-room,
.calendar-key .booking-blocked-room span{
    background-color: #ddd;
    background-image: repeating-linear-gradient(
            45deg,
            transparent 1px,
            rgba(173,173,173, .6) 2px,
            transparent 3px,
            transparent 6px
    );
    text-shadow: 0 0 5px #ddd, 0 0 5px #ddd, 0 0 10px #ddd, 0 0 10px #ddd, 0 0 10px #ddd;
}

.calendar-table>tbody>tr>td.calendar-booking-multi-room,
.calendar-key .booking-multi-room span{
    background: #c2bedd;
}

.calendar-table>tbody>tr>td.calendar-booking-currently-selected,
.calendar-key .booking-currently-selected span{
    border: 2px solid #484d62;
}

.calendar-key .booking-currently-selected span{
    background: transparent;
}

/** Begin Report Page Print Fix **/

@media print {
    .settings_sidebar_wrap * {
        display: none !important;
    }

    #sidebar-wrapper {
        display: none !important;
    }

    #calendar-control-row {
        display: none;
    }

    #dashboard-footer {
        display: none;
    }

    #dashboard-sidebar {
        display: none;
    }

    footer {
        display: none;
    }

    body {
        margin-bottom: 0px !important;
    }

    .report-right {
        width: 100% !important;
        padding-left: 15px;
    }

    .report-housekeeping {
        margin-left: 5px;
    }

}

.report-housekeeping table {
    margin-left: 10px;
}

#datepicker-housekeeping {
    width: 100px;
    text-align: center;
}

#housekeeping-form .input-group-addon {
    color: #ffffff;
    background-color: #23B7E5;
}

#shiftReportPage hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/** End Report Page Print Fix **/

/** Coloring for Day View Report page **/

.checkedout {
    color: #cecece;
    text-decoration: line-through;
}

/** End coloring for day veiw report page


/* Reports */

.form-inline .btn-info{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    min-width: 70px;
    padding: 5px 10px 6px 10px;
}

.smallcaps{
    font-weight: bold;
    text-transform: uppercase;
}

#settings .panel-body, #rates .panel-body {
    padding: 0;
}

.panel-body:not(.review) {
    background: #fff;
    border: 1px solid #ddd;
}

.no-border {
    border: none;
}

table.dayView>thead>tr>th{
    border-color: #ddd;
    border-top: 0;
    border-right: 0;
}

.settings_sidebar_wrap{
    background: #fff;
    width: 150px;
    height: 100%;
}

.settings_sidebar_wrap li.heading,
.settings_sidebar_wrap ul.nav li a{
    color: #484D62;
    font-weight: bold;
}

.group-separator-bottom{
    border-bottom: 2px solid #ddd;
    margin-bottom: 2px;
}

.group-separator-top{
    border-top: 2px solid #ddd;
}

.settings_sidebar_wrap ul.nav li a:hover,
.settings_sidebar_wrap li.active{
    background: #7D71C2;
}

.settings_sidebar_wrap ul.nav li.active a{
    color: #fff;
}

.settings_sidebar_wrap ul.nav li.heading,
.navi ul.nav li a{
    padding: 10px 0 10px 10px;
    transition: background-color .2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
}

.navi ul.nav li a>i{
    margin-right: 0;
}

/*
#reports{
    margin-left: 15px;
    margin-right: 15px;
}*/

.report-right{
    border-left: 1px solid #ddd;
    float: right;
    margin-bottom: 0;
    width: calc(100% - 150px);
    min-height: 620px;
}

.dayView a, .loadBooking{
    color: #7D71C2;
    font-weight: bold;
}

table.dayView>tbody>tr>td{
    padding-right: 10px;
    text-align: right;
    width: 11%;
    padding-top: 4px;
    padding-bottom: 4px;
}

table.dayView .totalRow td{
    padding-bottom: 20px;
    padding-top: 20px;
}

table.dayView>thead>tr>th:first-of-type{
    border-left: none;
}

table.dayView tr.dateRow:hover td{
    background: #f9f9f9;
}

table.dayView tr.dateRow td:first-of-type{
    padding-right: 0;
    text-align: left;
    padding-left: 10px;
    /*width: 23%;*/
}

table.dayView tr.subdata td:first-of-type{
    padding-right: 0;
    text-align: left;
}

table.dayView tr.subdata td:first-of-type a{
    display: block;
    padding-left: 10px;
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.dayView tr.subdata td{
    background-color: #f9f9f9;
}

#revenue-table .badge{
    display: block;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    text-shadow: none;
}

#revenue-table .bg-danger{
    background: transparent;
    color: #F0504C;
}

#revenue-table .bg-danger:after{
    content: '\f107';
    font: normal normal normal 14px/1 FontAwesome;
    padding-left: 10px;
}

.bg-success {
    color: #ffffff;
}

#revenue-table .bg-success{
    background: transparent;
    color: #27C24A;
}

#revenue-table .bg-success:after{
    content: '\f106';
    font: normal normal normal 14px/1 FontAwesome;
    padding-left: 10px;
}

.dayView td.zero-value{
    padding-right: 11px;
}

/* Day View Reports */

.report-dayview .table{
    margin-bottom: 0;
}

.report-dayview .table:not(:last-of-type){
    border-bottom: 1px solid #ddd;
}

.report-dayview .dayView th{
    background: #f9f9f9;
    width: 16%;
}

.report-dayview .dayView th,
.report-dayview .dayView td{
    padding-left: 10px;
    text-align: left;
}



/* KeyCards */

#keyCardsContainer.active{
    border-bottom: 1px solid #dee5e7;
}

.keycardListing{
    width: 100%;
}

.keycardListing tr{
    border-top: 1px solid #E2E2E2;
}

.keycardListing .itemRow td{
    text-align: center;
}

.keycardListing td{
    padding: 7px 10px 7px 0;
}

.keycardListing .itemRow td:first-of-type{
    padding-right: 28px;
    text-align: center;
}

.keycardListing td:last-of-type{
    padding-right: 0;
}

.inlineActions{
    font-weight: bold;
}

.inlineActions a{
    color: #7266ba;
}

.inlineActions .deleteItem{
    color: #EB4C5F !important;
}

.list-inline>li.toggleVisibility {
    display: none;
}

.datepicker:after{
    content: "dsdasdas";
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
}

#keyCards.active,
#keyCardsContainer.active{
    background: #fff;
}



/* Guest list */

#bookingDetailsContainer .badge.bg-light{
    background: #fff;
    color: #7266ba;
}

.new-guest{
    font-weight: bold;
}

.guest-details-form,
.guest-list{
    margin-top: 10px;
}

.guest-details-form label{
    margin-bottom: 2px;
}

.guest-details-form .form-group {
    margin-bottom: 4px;
    margin-top: 4px;
}

.guest-details-form + input[type=submit]{
    margin-bottom: 10px;
    margin-top: 10px;
}

.border-top-2{
    border-top: 2px solid #e8eaea;
}

.guest-list input{
    margin-right: 3px;
}

.guest-list label{
    border-bottom: 1px solid #e8eaea;
    display: block;
    margin-bottom: 0;
    padding: 5px 0;
}

.booking-attribution{
    color: #999;
}

#dashboard-sidebar .guest-details-form .tab-pane{
    padding: 2px 0 0 0;
}

#dashboard-sidebar .guest-details-form .tab-content{
    padding: 0;
    border: none;
}

#dashboard-sidebar #bookingDetailsContainer .nav-pills a{
    padding-bottom: 0;
    padding-top: 0;
    background: #fff !important;
}

#dashboard-sidebar #bookingDetailsContainer .inlineActions .active a{
    color: #58666e !important;
}

#settings .panel-body .panel-body {
    border: none !important;
    margin-left: 5px;
}

#addExpenseForm {
    max-width: 350px;
    padding: 5px;
}

#addExpenseForm .datepicker {
    width: 100px;
}

#expensePrice {
    width: 140px;
}

#ui-datepicker-div {
    z-index: 99 !important;
}

.pnlTableHeading {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 0px;
}

.pnl table {
    border-right: 1px solid #dedede;
    font-size: 12px;
}

.pnl table td {
    max-width: 100px;
}

.noCursor:hover {
    cursor: auto !important;
}

#expenseTable td {
    text-align: left;
    vertical-align: middle !important;
    padding-left: 7px;
}

.pnl canvas {
    padding-left: 30px;
    padding-right: 30px;
}

.smallerfont {
    font-size: 16px;
}


#cashRegisterContainer {
    padding-right: 10px;
}

#cashRegisterContainer h4, #paymentHeadingContainer, #myallocatorLogContainer h4, #personal-details h4 {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 5px;
    margin-bottom: 5px;
}

#cashRegisterContainer .btn-group .btn-primary {
    background: #7266BA;
    color: #ffffff !important;
    border-color: #7266ba;
}

#cashRegisterContainer .btn-group .btn-primary:hover {
    background: #6254b2;
    color: #ffffff !important;
    border-color: #5a4daa;
}

#cashRegisterContainer .dropdown-menu {
    padding: 5px;
}

#posTotal, #changeDue, #posRemaining {
    color: #F05050;
}

#changedAccommodationWarningText {
    font-size: 12px;
    margin-top: 5px;
    color: #272727;
}

#paymentTableBody tr input:last-child {
    text-align: right;
}

.loadBookingText {
    color: #7266BA !important;
    font-weight: 700;
}

.loadBookingText:hover {
    color: #544d99;
}

#cashRegisterContainer div.tooltip {
    width: 160px;
}

#cashRegisterContainer .list-group-item {
    background: #F6F8F8;
    padding: 7px 15px;
}

#cashRegisterContainer .list-group-item:hover {
    /*background: rgba(114,102,186,0.85);
    color: #ffffff;*/
    background: #ffffff;
}

#cashRegisterContainer .list-group-item.active {
    /*color: #ffffff;
    background-color: #7266BA !important;
    border-color: #857DB1!important;*/
    background-color: #ffffff !important;
    color: #58666e;
    border-color: #ddd !important;
}

#rates table th, #rates table td input {
    text-align: center;
    vertical-align: middle;
}

.form-inline {
    display: inline;
}

table.calendar-table td.availability-cell p {
    margin: 0;
}

#deleteBooking {
    color: #f05050 !important;
    background-color: #F6F8F8;
    padding: 6px 10px;
}

#deleteBooking:hover {
    color: #ffffff !important;
    background-color: #f05050;
}

button.posActionButton {
    padding-left: 5px;
}

#paymentHeading, #addPayment {
    display: inline;
}

.deletePOSRow {
    margin-left: 5px;
}

.deletePOSRow:hover {
    color: red !important;
    cursor: pointer;
}

#POSButtonRow button {
    width: 100px;
}

#noty_center_layout_container #sf-resetcontent {
    width: 100% !important;
}

#noty_center_layout_container #sf-resetcontent h1 {
    font-size: 16px !important;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

select.number_of_guests {
    padding: 5px 0px 5px 5px;
}

#roomTable, #paymentTypeTable, #categoryTable, #productTable {
    cursor: move;
}

#booking-list-table tbody>tr>td {
    padding: 6px 6px 6px 6px;
}

.test {
    margin-top: 10px;
}


table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    border-right: 1px solid #eaeff0;
    border-top: 1px solid #eaeff0 !important;
    border-bottom: 1px solid #111111;
    padding: 5px 5px 5px 5px;
}

.datatable-custom-toolbar, .dataTables_length, #booking-list-table_filter {
    float: left;
    display: inline;
    margin-top: 10px;
    margin-bottom: 5px;
}

#booking-list-table_filter {
    float: right;
    margin-right: 10px;
}

.datatable-custom-toolbar {
    margin-left: 30px;
}

#booking-list-top-buttons {
    margin-top: 5px;
}

table.dataTable th.sorting_desc:after, table.dataTable th.sorting_asc:after {
    opacity: 0.75;
    color: #7266BA;
}

div.dt-buttons {
    margin-left: 5px;
    margin-right: 15px;
}

.dt-button-background {
    display: none !important;
}

ul.dt-button-collection {
    left: 347px !important;
}

ul.dt-button-collection li.active a {
    background-color: #337ab7 !important;
    color: #ffffff !important;
}

ul.dt-button-collection li.active a:hover {
    background-color: #2F608A !important;
    color: #ffffff !important;
}

div.dt-buttons {
    float: none;
}

div.dataTables_info, div.dataTables_paginate {
    text-align: center !important;
}

#booking-list-startdate, #booking-list-enddate {
    width: 90px;
    text-align: center;
}

#booking-list-channel {
    width: 250px;
}

#booking-list-status {
    width: 200px;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #dee5e7 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0;
    border: 1px solid #DCDCDC;
    background-color: #EDF1F2;
}

#booking-list-table_wrapper .input-group-addon {
    color: #ffffff;
    background-color: #23B7E5;
}

#remainingBalanceContainer h3 {
    margin-top: 0;
}

#dashboard-table th {
    font-size: 16px;
}

#dashboard-table td {
    font-size: 16px;
}

#dashboard-table span.dashboard-percentage {
    font-size: 13px;
    color: #585858;
}

#deleteButtonGroup li>a {
    padding-left: 15px;
    color: #58666e;
}

#deleteButtonGroup li>a:hover {
    color: #ffffff;
    background: #f05050 !important;
}

.ui-sortable-helper {
    display: table;
}

#registerCountry {
    padding-left: 5px;
    border: none;
}

/** Begin Sweet Alert 2 customization **/
.swal2-modal h2 {
    font-size: 24px;
    position: relative;
}
.swal2-modal .swal2-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.swal2-icon {
    margin: 0px auto 0px;
}

hr.swal2-spacer {
    height: 5px;
}
.swal2-modal button {
    font-size: 15px !important;
    padding: 10px 30px !important;
}
/** End Sweet Alert 2 customization **/

.label-lg {
    font-size: 90%;
}

.p-l-lg {
    padding-left: 40px;
}

/*#POS_header {*/
    /*background-image: url('../../../assets/images/cash-register-icon.png');*/
/*}*/


#navbar-right > li.open:after, #navbar-right > li.open:before {
    bottom: 0%;
    margin-bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#navbar-right > li.open:after {
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
    z-index: 1;
}
#navbar-right > li.open:before {
    /*border-bottom-color: #eaeff0;*/
    border-bottom-color: #fff;
    border-width: 9px;
    margin-left: -9px;
    z-index: 1;
}

#navbar-right > li#notificationsContainer.open:before, #navbar-right > li#alertsContainer.open:before, {
    border-bottom-color: #edf1f2;
}

#navbar-right > li#notificationsContainer.open:after, #navbar-right > li#alertsContainer.open:before, {
    border-bottom-color: #edf1f2;
}

#navbar-right .dropdown-menu {
    border: none !important;
    /*border-left: 1px solid rgba(0,0,0,0.1);*/
}

#navbar-right > li.open {
    background: #3c86d0;
}

#navbar-right .introjs-showElement {
    background: #4c9aca;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(83,83,83, 0.2);
    border-right: 1.1em solid rgba(83,83,83, 0.2);
    border-bottom: 1.1em solid rgba(83,83,83, 0.2);
    border-left: 1.1em solid #535353;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#notificationsContainer .dropdown-menu {
    right: -150px;
}

#alertsContainer .dropdown-menu {
    right: -100px;
}

#availability-table tbody td {
    border: none;
}

#availability-table tbody tr {
    border-bottom: 1px solid #ddd;
}

#availability-table tbody td.bednumber {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#availability-table>tbody>tr:nth-child(odd)>th {
    background-color: #fafbfc;
}

#bookingDetailsContainer .input-sm {
    padding: 5px 6px;
}

.bg-primary {
    background-color: #53aee5;
}

.btn-primary {
    background-color: #53aee5;
    border-color: #53aee5;
}

.btn-primary:hover {
    background-color: #50a1d7;
    border-color: #53aee5;
}

.select2-results__option {
    font-size: 14px;
    color: #606060;
}

.select2-container--default .select2-search--inline .select2-search__field {
    color: #424242;
    background: transparent url('../../../assets/images/search_icon.png') no-repeat 95% 0px;
    background-size: contain;
}

.select2-container {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.20);
}

.select2-dropdown {
    border: 1px solid #dee5e7;
}

.select2-dropdown--below {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.20);
}

.underline-dashed {
    border-bottom: 1px dashed #fff;
}

#header-logo {
    background: url('../../../assets/images/logo_white.png') no-repeat;
    background-size: contain;
}

#sidebar-wrapper {
    float: left;
    width: 175px;
}

#content-wrapper {
    float: left;
    width: calc(100% - 190px);
    margin-left: 15px;
}

ul.sidebar-nav {
    list-style: none;
    padding: 0 0 0 0;
}

ul.sidebar-nav li.heading {
    text-transform: uppercase;
    color: #4999c9;
    font-size: 16px;
    padding: 10px 0 0 10px;
}

ul.sidebar-nav li a {
    color: #3c3a3d;
    padding: 10px 0 10px 0;
    display: block;
}

ul.sidebar-nav li a span {
    font-weight: bold;
}

ul.sidebar-nav li a:hover, ul.sidebar-nav li.active {
    background: #e0f3ff;
    border-radius: 5px;
}

ul.sidebar-nav li a>i {
    float: left;
    width: 40px;
    color: #4a99c9;
    margin: -10px 0;
    overflow: hidden;
    line-height: 40px;
    text-align: center;
}

span.label.bg-success {
    background: #49bb7b;
}

span.label.bg-danger {
    background: #ff3333;
}

.panel.review {
    border: 1px solid #e0f3ff;
    color: #999999;
}

.panel.review .panel-heading {
    background: #e0f3ff;
    color: #3c3a3d;
    font-weight: 600;
    font-size: 15px;
}

.panel.review .panel-footer strong {
    color: #4a99c9;
}

.review label {
    background: transparent;
    font-size: 100%;
    padding: 0 10px 0 0;
}

.review label.bg-danger {
    color: #f05050;
}

.review label.bg-warning {
    color: #fad733;
}

.review label.bg-success {
    color: #27c24c;
}

.panel.review .panel-body {
    border: none;
}

#navbar-right .bg-light {
    background-color: #f7f7f7;
}


.resizable {
    position: relative;
    border: 2px solid #484d62;
}

.topDrag {
    cursor: ns-resize;
    background-color: transparent;
    width: 100%;
    height: 7px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.bottomDrag {
    cursor: ns-resize;
    background-color: transparent;
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.leftDrag {
    cursor: ew-resize;
    background-color: transparent;
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.rightDrag {
    cursor: ew-resize;
    background-color: transparent;
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.newBookingDrag {
    background-color: #058;
}

#payment-form {
    max-width: 400px;
}

.navbar-header, .navbar-collapse {
    background: #3974bb;
}

#intercom-container {
    z-index: 5 !important;
}

.note-editor.note-frame {
    border: none;
}