/* Begin vertical centering custom CSS */
.vertical-center-container {
    display: inline-flex;
}

div.app-header-fixed.vertical-center-container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.vertical-center {
    margin: auto auto auto auto;
}
/* End vertical centering custom CSS */

/* Remove extra padding for row from register page */
.small-padding {
    padding: 6px 12px;

}

@media screen and (min-width: 1200px) {
    .border-right {
        border-right: 1px solid #e7ecee;
    }
}
@media screen and (max-width: 1199px) {
    .border-right {
        border-bottom: 1px solid #e7ecee;
    }
}
/* End remove extra padding */

a.navbar-brand {
    font-weight: 800;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    
    /*text-transform: uppercase;*/
}

.app-header {
    width: calc(100% - 50px);
    z-index: 5;
}

.bg-black .text-lt {
    color: #FFFFFF !important;
}

a.navbar-brand span {
    font-weight: 600;
}

.navbar-collapse {
    background: #3F4457;
}

.bg-black {
    color: #7793a7;
    background: #3F4457;
}

div.app-header.navbar > div.collapse > ul.nav > li > a {
    color: #f1f1f3;
}

div.app-header.navbar > div.collapse > ul.nav > li.active > a {
    background-color: #282d3f;
}

div.app-header.navbar > div.collapse > ul.nav > li > a:hover {
    color: #ffffff;
    background-color: #282d3f;
}

/* Create dashboard sidebar */
#dashboard {
    width: calc(100% - 50px);
    /*overflow-x: scroll;*/
}

/* End dashboard sidebar

/* Begin Calendar table css */
.calendar-table {
    table-layout: fixed;
    border: 1px solid #eeeeee;
    margin-bottom: -5px;
}

.table>thead>tr>th {
    padding: 1px 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-table tbody td {
    height: 20px;
    /* used to be #eeeeee*/
    border: 1px solid #D8D8D8;
}

.calendar-table thead {
    background: #ffffff !important;
    padding-bottom: 3px;
    border-bottom: 1px solid #D8D8D8;
}

.calendar-table .calendar-month td {
    width: 125px;
    border-left: none;
}

.calendar-table .calendar-beds {
    width: 10px;
    padding: 0;
    padding-bottom: 10px;
}

table > thead > tr.calendar-date > th.calendar-beds {
    border-top: 1px solid #eee;
    transform: rotate(270deg);
}

table > thead > tr.calendar-month > td.calendar-beds {
    width: 25px;
}
.calendar-table tbody td.bednumber {
    padding: 0px;
    font-weight: 600;
}

.calendar-table>tbody>tr>td {
    vertical-align: middle;
    padding: 0px;
}


.calendar-table>tbody>tr>td.booking-cell {
    color: #474747;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.calendar-table>tbody:after {
    content: '';
    display: block;
    height: 2px;
}

.calendar-table .month-border {
    border-right: 2px solid #dedede !important;
}

.calendar-table tbody tr:first-child {
    border-top: 2px solid #dedede !important;
}

.calendar-table tbody tr:last-child {
    border-bottom: 2px solid #dedede !important;
}

.site-head .hostelname {
    font-weight: 400 !important;
    font-size: 11px;
    text-transform: none;
}
/* End Calendar table css */

.pt15 {
    padding-top: 15px;
}

div.app-header.navbar > div.collapse > ul.nav > li > a {
    background: #3F4457;
}

body {
    background: #f0f3f4;
}

.panel-default {
    border-color: #EFEFEF;
}

.calendar-panel-heading {
    height: 50px;
}

/* Override Datepicker defaults */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #58666e;
    text-align: center;
}

.ui-datepicker tbody>tr>td:hover, .ui-datepicker .ui-state-active {
    background: #23b7e5;
}

.ui-datepicker tbody>tr>td a:hover, .ui-datepicker .ui-state-active {
    color: #ffffff;
}

.ui-datepicker-header {
    background: #23b7e5;
    border: none;
    color: #ffffff;
}

.ui-datepicker thead tr {
    background: #F0F3F4;
}

.ui-datepicker th {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #58666e;
    text-align: center;
}

table.ui-datepicker-calendar {
    table-layout: fixed;
}

/* End datepicker overrides */

.calendar-panel-selectdate {
    padding-left: 15px;
    width: 175px;
}

.navbar-right .dropdown-toggle {
    padding: 15px 15px;
    cursor: pointer;
    color: #f1f1f3;
    /*margin-right: 50px;*/
}

.navbar-right .dropdown-toggle:hover {
    color: #ffffff;
    background-color: #282d3f;
}

/* Begin settings sidebar code */
.settings_sidebar_wrap {
    width: 215px;
    background: #3F4457;
    float: left;
    height: 100%;
}
#settings {
    float: left;
    width: calc(100% - 230px);
    padding-left: 15px;
    padding-right: 15px;
}
.settings_sidebar_wrap ul.nav li a {
    color: #babcc4;
    font-weight: 400;
}

.settings_sidebar_wrap ul.nav li a:hover {
    color: #ffffff;
    background: #282d3f;
}

.settings_sidebar_wrap li.heading {
    color: #ececec;
    font-size: 14px;
}

.settings_sidebar_wrap li.active {
    background-color: #282d3f;
}

/* End settings sidebar code */

.table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 1px 1px;
}

table td button {
    margin-right: 2px;
}

.roomtypes .form-control {
    padding: 6px 2px;
}

.room {
    padding: 0px 2px;
}

#dashboard-sidebar {
    width: 55px;
    /*position: absolute; */
    position: fixed;
    right: 0px;
    top: 0px;
    background: #f6f8f8 !important;
    border: 1px solid #dee5e7;
    z-index: 50;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/*
.affix-sidebar-scrolled {
    top: 5px !important;
}*/

#dashboard-sidebar .nav>li {
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 10px;
}


#searchBookings, #searchContainer,
    #addBooking, #addBookingContainer,
    #unallocatedBookings, #unallocatedBookingsContainer,
    #bookingDetails, #bookingDetailsContainer,
    #cashRegister, #cashRegisterContainer {
    border-bottom: 1px solid #dee5e7;
}


#dashboard-sidebar .nav>li>a {
    padding-left: 0px;
    padding-right: 0px;
    color: #7266ba;
}

#dashboard-sidebar .nav>li:hover:nth-child(odd), #dashboard-sidebar .nav>li>a:hover:nth-child(odd)  {
    background: #e8eaea;
}

.badge.up-large {
    position: relative;
    top: -45px;
    margin-bottom: -35px;
    margin-left: 15px;
}

#dashboard-sidebar h2 {
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline-block;
    font-size: 15px;
}

#mb20 {
    margin-bottom: -20px;
}

#dashboard-sidebar .nav>li#bookingDetailsContainer, #dashboard-sidebar .nav>li#addBookingContainer {
    background: #F8F8F8;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#dashboard-sidebar .nav-tabs>li>a {
    padding-left: 10px;
    padding-right: 10px;
}

#dashboard-sidebar .nav-tabs>li {
    padding-left: 0px;
}

#bookingDetailsContainer .tab-container .tab-content {
    border-left: transparent;
    border-right: transparent;
}

#bookingDetailsContainer .tab-container ul.nav-tabs li:first-child a {
    border-left: transparent;
}

#bookingDetailsContainer #total_label {
    margin-top: 7px;
    font-weight: bold;
    font-size: 14px;
}

#bookingDetailsContainer #total {
    font-size: 14px;
    font-weight: bold;
}

#cashRegisterContainer>form>.modal-header, #cashRegisterContainer>form>.modal-body, #cashRegisterContainer>form>.modal-footer {
    padding: 0;
}

.nopadding {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.form-control[readonly] {
    cursor: default;
}

.hover {
    background: #FEC16F !important;
    cursor: pointer;
}

.no-hover {
    background: #7266ba !important;
}

#sidebar-search > .select2-container--default .select2-selection--single {
    border: 1px solid #dedede;
    background-color: #edf1f2;
    color: #8b9da7;
    border-radius: 15px;
}

.datepicker {
    margin: 0px 0px;
}

.padding5 {
    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    font-size: 20px;
}

#POSCategory_Container button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#payment {
    margin-top: -10px;
}

#payment .form-group {
    margin-bottom: 7px;
}

.modal-open .modal {
    overflow-y: hidden;
}

.label-footer {
    text-align: center;
}

footer.site-foot {
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
    padding-bottom: 35px;
}

#dashboard-footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background: #F0F3F4;
    border-top: 1px solid #dedede;
}

#reports {
    margin-left: 230px;
    margin-right: 20px;
}

body.pdf {
    background: none !important;
}

.pdf table {
    border: 1px solid #cecece;
}

.pdf table thead {
    font-weight: 800;
    font-size: 16px;
}

.pdf table td {
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;

}

.pdf table td .alignright {
    text-align: center;
}

.booking-cell {
    cursor: pointer !important;
}

#dashboard-sidebar .tab-pane {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.tab-container {
    margin-bottom: 0px;
}

.tab-container .tab-content {
    padding: 5px;
}

#dashboard-content {
    position: absolute;
    width: calc(100% - 50px);
}

.purple {
    color: #7266ba;
}

.dashboard-sidebar-icon {
    padding-top: 5px;
    padding-bottom: 10px;
}

.dashboard-sidebar-text {
    padding-top: 12px;
    font-size: 10px;
}

.badgefix {
    height: 40px;
}

table.dayView>thead>tr>th {
    border-right: 1px solid #eaeff0;
    border-top: 1px solid #eaeff0;
    border-left: 1px solid #eaeff0;
    padding: 3px 3px 3px 3px;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
}

table.dayView tr {
    border-top: 1px solid #eaeff0;
}

.dayview-selectdate {
    width: 175px;
}

.dayView a {
    color: #0014ff;
}

.dayView td, .dayView th {
    text-align: center;
}

.dayView .totalRow {
    font-size: 14px;
    font-weight: 600;
}

.dateRow {
    cursor: pointer;
}

.ui-slider-handle {
    background: #23b7e5 !important;
}

.headingAmount {
    font-size: 16px;
    text-decoration: underline;
}

.grandtotal {
    font-size: 18px;
    text-decoration: overline underline
}

.deleteStay {
    margin-left: 4px;
    margin-top: 7px;
}

.deleteStay:hover {
    color: red !important;
    cursor: pointer;
}

.number_of_nights {
    margin-left: 5px;
}

.posButtonRow {
    margin-bottom: 15px;
}

.addStay {
    color: #949292;
}

.invoiceRow {
    font-size: 12px;
    font-weight: bold;
}

tr.invoiceRow>td {
    padding-top: 6px !important;
}

.invoiceRow a {
    color: #233280;
}

#invoice {
    width: 350px;
    margin-left: 10px;
}

#invoice h2, #invoice h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

#invoice p {
    margin-bottom: 2px;
    margin-top: 10px;
}

#invoice table th {
    padding: 2px 2px 2px 2px;
}

#invoice table tr {
    border: 1px solid #dedede;
}

.myallocator_formatted_log {
    padding-bottom: 20px;
}

.myallocator_formatted_log p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.seasonRates .tab-pane {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.seasonRates th, .seasonRates td {
    text-align: center;
}

#bookingDetailsContainer .panel {
    width: 100% !important;
}

#bookingDetailsContainer .panel-body {
    padding: 5px;
}

.tableFloatingHeaderOriginal {
    left: 0px !important;
}

#BookingLabel {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #B0F9EA;
    height: 12px;
    width: 12px;
    z-index: 2;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #dedede;
}

.changeLabel-menu {
    z-index: 50;
}

/* hostelpro-alan.css */

/* Set the day name to a single character for smaller screens */
@media only screen and (max-width: 1150px) {
    .calendar-dayofweek{
        display: inline-block;
        font-size: 0;
    }
    .calendar-dayofweek:first-letter {
        font-size: 14px;
    }
}

/* Hide the dates by setting the text transparent */
.table-striped>tbody>tr:nth-of-type(even) .addStay,
.table-striped>tbody>tr:nth-of-type(odd) .addStay{
    color: transparent;
}

.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fff;
}

/* Setting the hover/selected state of the active cell. Hover doesn't need to be JS? */
.addingStay,
.hover{
    background-color: #FEC16F;
    color: #474747 !important;
    font-size: 14px !important;
}

/* Remove backgrounds etc from the Panel Header */
.panel-default{
    background: transparent;
    border: 0;
}

.panel-default .panel-heading{
    background: transparent;
    border: 0;
    height: auto;
    padding: 11px 0 10px 0;
}

/* Set the actual Calendar backround to be white */
.calendar-container{
    background: #fff;
}

.calendar-table{
    border: 1px solid #dedede;
}

.tableFloatingHeaderOriginal,
.table>thead>tr>th {
    border: 0;
    border-top: 1px solid #eaeff0;
}

.calendar-table tr .month-border{
    border-right-width: 1px !important;
}

.calendar-table tr .month-border:last-of-type{
    border-right-width: 0 !important;
}

/* Active state for the Today button */
#setCalendarToToday{
    background: #3F4457;
    border-color: #3F4457;
    border-radius: 2px;
    margin-top: 1px;
    padding: 5px 12px;
}


/* Style the button groups */

.calendar-selectViewMode {
    margin-right: 10px;
}

.btn-default{
    -webkit-box-shadow: 0;
    box-shadow: none;
}

.form-control{
    border-color: #dee5e7;
    border-bottom-color: #d8e1e3;
}

.form-control:hover {
    border-color: #c7d3d6;
}

.btn-group .btn-primary{
    background: #fff;
    border-color: #dee5e7;
    border-bottom-color: #d8e1e3;
    font-size: 14px;
    color: #474747 !important;
}

.btn-group .btn-primary:hover{
    background: #edf1f2;
    border-color: #c7d3d6;
    z-index: 0;
}

.btn-group .active,
.btn-group .active:hover{
    background: #3F4457;
    border-color: #3F4457;
    color: #fff !important;
    z-index: 0;
}


/* Style the Booking classes */

/* Adds the Calendar grid to the booking square | NEEDS WORK

.calendar-table>tbody>tr>td.booking-checked-in-paid{
	padding: 0;
	background-image:
		linear-gradient( rgba(80,166,70, 0.7) 1px, transparent 1px),
		linear-gradient(90deg, rgba(80,166,70, 0.7) 1px, transparent 1px);
		background-size: 23px 23px, 16.9% 16.9%;
		background-position: -1px -1px, -1px 0;
	);

}

.calendar-table>tbody>tr>td.booking-checked-in-paid a{
	display: block;
	height: 100%;
	width: 100%;
}

.calendar-table>tbody>tr>td.booking-checked-in-paid{
	background-color: rgba(119,221,99, 0.85);
	background-image: repeating-linear-gradient(
		45deg,
		transparent,
		rgba(80,166,70, 0.6) 1px,
		transparent 2px,
		transparent 9px
	);
}

.calendar-table>tbody>tr>td.booking-checked-in-paid span{

	display: block;
	margin: 0;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	text-shadow: 0 0 10px rgb(134,207,125), 0 0 10px rgb(134,207,125);

}

.calendar-table>tbody>tr>td.booking-checked-in-paid a{
	display: block;
	height: 100%;
	width: 100%;
}


*/


/* Dashboard footer */

#dashboard-footer{
    overflow: scroll;
}

.calendar-key {
    list-style: none;
    margin: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.calendar-key li{
    display: inline-block;
    font-size: 12px;
    margin: 0 1em 0 0;
}

.calendar-key span{
    border: 1px solid #aaa;
    display: inline-block;
    margin-bottom: -4px;
    margin-right: 2px;
    height: 16px;
    width: 16px;
    background: #333;
}



/* Highlight the date for the currently selected calendar entry */

.tableFloatingHeaderOriginal>tr.calendar-date>th.date-highlight {
    border-top: 2px solid #484d62;
}

/* General Calendar styling */

.calendar-table thead{
    padding-bottom: 0;
}

.tableFloatingHeaderOriginal>tr.calendar-month,
.tableFloatingHeaderOriginal>tr.calendar-date{
    background: #fff;
}

.calendar-table>tbody>tr>td{
    color: #333;
    overflow: hidden;
}

.calendar-table>tbody>tr>td.calendar-booking-paid,
.calendar-key .booking-paid span{
    background: #7ee46a;
}

.calendar-table>tbody>tr>td.calendar-booking-checked-in-paid,
.calendar-key .booking-checked-in-paid span{
    background-color: #7ee46a;
    background-image: repeating-linear-gradient(
            45deg,
            transparent 1px,
            rgba(80,166,70, .6) 2px,
            transparent 3px,
            transparent 6px
    );
    text-shadow: 0 0 5px #7ee46a, 0 0 5px #7ee46a, 0 0 10px #7ee46a, 0 0 10px #7ee46a, 0 0 10px #7ee46a;
}

.calendar-table>tbody>tr>td.calendar-booking-unpaid,
.calendar-key .booking-unpaid span{
    background: #64d7f2;
}

.calendar-table>tbody>tr>td.calendar-booking-checked-in-unpaid,
.calendar-key .booking-checked-in-unpaid span{
    background-color: #64d7f2;
    background-image: repeating-linear-gradient(
            45deg,
            transparent 1px,
            rgba(0,168,212, .7) 2px,
            transparent 3px,
            transparent 6px
    );
    text-shadow: 0 0 5px #64d7f2, 0 0 5px #64d7f2, 0 0 10px #64d7f2, 0 0 10px #64d7f2, 0 0 10px #64d7f2;
}


.calendar-table>tbody>tr>td.calendar-booking-checked-out,
.calendar-key .booking-checked-out span{
    background: #ddd;
}

.calendar-table>tbody>tr>td.calendar-booking-blocked-room,
.calendar-key .booking-blocked-room span{
    background-color: #ddd;
    background-image: repeating-linear-gradient(
            45deg,
            transparent 1px,
            rgba(173,173,173, .6) 2px,
            transparent 3px,
            transparent 6px
    );
    text-shadow: 0 0 5px #ddd, 0 0 5px #ddd, 0 0 10px #ddd, 0 0 10px #ddd, 0 0 10px #ddd;
}

.calendar-table>tbody>tr>td.calendar-booking-multi-room,
.calendar-key .booking-multi-room span{
    background: #c2bedd;
}

.calendar-table>tbody>tr>td.calendar-booking-currently-selected,
.calendar-key .booking-currently-selected span{
    border: 2px solid #484d62;
}

.calendar-key .booking-currently-selected span{
    background: transparent;
}

/** Begin Report Page Print Fix **/

@media print {
    .settings_sidebar_wrap * {
        display: none !important;
    }
}

#shiftReportPage hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/** End Report Page Print Fix **/

/** Coloring for Day View Report page **/

.checkedout {
    color: #cecece;
    text-decoration: line-through;
}

/** End coloring for day veiw report page


/* Reports */

.form-inline .btn-info{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    min-width: 70px;
    padding: 5px 10px 6px 10px;
}

.smallcaps{
    font-weight: bold;
    text-transform: uppercase;
}

.panel-body{
    background: #fff;
    padding: 0;
    border: 1px solid #ddd;
}

table.dayView>thead>tr>th{
    border-color: #ddd;
    border-top: 0;
    border-right: 0;
}

.settings_sidebar_wrap{
    background: #fff;
    width: 150px;
    height: 100%;
}

.settings_sidebar_wrap li.heading,
.settings_sidebar_wrap ul.nav li a{
    color: #484D62;
    font-weight: bold;
}

.group-separator-bottom{
    border-bottom: 2px solid #ddd;
    margin-bottom: 2px;
}

.group-separator-top{
    border-top: 2px solid #ddd;
}

.settings_sidebar_wrap ul.nav li a:hover,
.settings_sidebar_wrap li.active{
    background: #7D71C2;
}

.settings_sidebar_wrap ul.nav li.active a{
    color: #fff;
}

.settings_sidebar_wrap ul.nav li.heading,
.navi ul.nav li a{
    padding: 10px 0 10px 10px;
}

.navi ul.nav li a>i{
    margin-right: 0;
}

#reports{
    margin-left: 15px;
    margin-right: 15px;
}

.report-right{
    border-left: 1px solid #ddd;
    float: right;
    margin-bottom: 0;
    width: calc(100% - 150px);
    min-height: 400px;
}

.dayView a{
    color: #7D71C2;
    font-weight: bold;
}

table.dayView>tbody>tr>td{
    padding-right: 10px;
    text-align: right;
    width: 11%;
    padding-top: 4px;
    padding-bottom: 4px;
}

table.dayView .totalRow td{
    padding-bottom: 20px;
    padding-top: 20px;
}

table.dayView>thead>tr>th:first-of-type{
    border-left: none;
}

table.dayView tr.dateRow:hover td{
    background: #f9f9f9;
}

table.dayView tr.dateRow td:first-of-type{
    padding-right: 0;
    text-align: left;
    padding-left: 10px;
    width: 23%;
}

table.dayView tr.subdata td:first-of-type{
    padding-right: 0;
    text-align: left;
}

table.dayView tr.subdata td:first-of-type a{
    display: block;
    padding-left: 10px;
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.dayView tr.subdata td{
    background-color: #f9f9f9;
}

.panel-default .badge{
    display: block;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    text-shadow: none;
}

.panel-default .bg-danger{
    background: transparent;
    color: #F0504C;
}

.panel-default .bg-danger:after{
    content: '\f107';
    font: normal normal normal 14px/1 FontAwesome;
    padding-left: 10px;
}

.panel-default .bg-success{
    background: transparent;
    color: #27C24A;
}

.panel-default .bg-success:after{
    content: '\f106';
    font: normal normal normal 14px/1 FontAwesome;
    padding-left: 10px;
}

.dayView td.zero-value{
    padding-right: 11px;
}

/* Day View Reports */

.report-dayview .table{
    margin-bottom: 0;
}

.report-dayview .table:not(:last-of-type){
    border-bottom: 1px solid #ddd;
}

.report-dayview .dayView th{
    background: #f9f9f9;
    width: 25%;
}

.report-dayview .dayView th,
.report-dayview .dayView td{
    padding-left: 10px;
    text-align: left;
}



/* KeyCards */

#keyCardsContainer.active{
    border-bottom: 1px solid #dee5e7;
}

.keycardListing{
    width: 100%;
}

.keycardListing tr{
    border-top: 1px solid #E2E2E2;
}

.keycardListing .itemRow td{
    text-align: center;
}

.keycardListing td{
    padding: 7px 10px 7px 0;
}

.keycardListing .itemRow td:first-of-type{
    padding-right: 28px;
    text-align: center;
}

.keycardListing td:last-of-type{
    padding-right: 0;
}

.inlineActions{
    font-weight: bold;
}

.inlineActions a{
    color: #7266ba;
}

.inlineActions .deleteItem{
    color: #EB4C5F;
}

.list-inline>li.toggleVisibility {
    display: none;
}

.datepicker:after{
    content: "dsdasdas";
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
}

#keyCards.active,
#keyCardsContainer.active{
    background: #fff;
}



/* Guest list */

#bookingDetailsContainer .badge.bg-light{
    background: #fff;
    color: #7266ba;
}

.new-guest{
    font-weight: bold;
}

.guest-details-form,
.guest-list{
    margin-top: 10px;
}

.guest-details-form label{
    margin-bottom: 2px;
}

.guest-details-form .form-group {
    margin-bottom: 4px;
    margin-top: 4px;
}

.guest-details-form + input[type=submit]{
    margin-bottom: 10px;
    margin-top: 10px;
}

.border-top-2{
    border-top: 2px solid #e8eaea;
}

.guest-list input{
    margin-right: 3px;
}

.guest-list label{
    border-bottom: 1px solid #e8eaea;
    display: block;
    margin-bottom: 0;
    padding: 5px 0;
}

.booking-attribution{
    color: #999;
}

#dashboard-sidebar .guest-details-form .tab-pane{
    padding: 2px 0 0 0;
}

#dashboard-sidebar .guest-details-form .tab-content{
    padding: 0;
    border: none;
}

#dashboard-sidebar #bookingDetailsContainer .nav-pills a{
    padding-bottom: 0;
    padding-top: 0;
    background: #fff !important;
}

#dashboard-sidebar #bookingDetailsContainer .inlineActions .active a{
    color: #58666e !important;
}