@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html {
	overflow-x: hidden;
}
body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.small-container {
	max-width: 560px;
}
.btn-default {
	background: none;
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:hover:active {
	background: #6f63b3;
	border: 2px solid #ffffff;
	border-radius: 3px;
	color: #fff;
}
.btn-info {
	background: #7d71c2;
	border: 2px solid #7d71c2;
	border-radius: 3px;
	color: #fff;
	/*box-shadow: 2px 3px rgba(0,0,0,0.1);*/
	box-shadow: 0 3px 7px rgba(20,48,82,.12),0 0 0 1px rgba(27,69,120,.02);
}
.btn-info:hover, .btn-info:focus, .btn-info:hover:active, .btn-info:target {
	background: #6f63b3;
	border: 2px solid #6c60ad;
	border-radius: 3px;
	color: #fff;
}
.well {
	background-color: #f2fdff;
	border-color: #a0d4de;
}


header {
	background: #3f4457;
	color: #fff;
	position: fixed;
	top: 0px;
	z-index: 99;
	width: 100%;
}
header .navbar {
	border: none;
	background: none;
	margin: 0;
}
header .navbar .logo {
	line-height: 50px;
	font-size: 21px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a.btn {
	height: 36px;
	line-height: 33px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 7px 0 7px 17px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background: #6f63b3;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	background: #6f63b3;
}

.main-banner {
	background: url(../images/main-image.jpg) center -50px no-repeat;
	background-size: cover;
	min-height: 800px;
	color: #fff;
	position: relative;
	padding-top: 80px;
}
.main-banner img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.main-banner h1 {
	font-size: 56px;
	max-width: 600px;
	margin: 0 auto 40px;
}
.main-banner p {
	font-size: 18px;
}

.streamline h2 {
	font-size: 38px;
    line-height: 60px;
    margin: 58px auto;
    max-width: 640px;
    color: #3f4457;
}
.streamline .col-md-4 {
	padding: 23px 25px 40px;
	font-size: 16px;
	color: #777;
}
.streamline .title {
	font-size: 16px;
	font-weight: 600;
	line-height: 35px;
	color: #3f4457;
}
.streamline .title i {
	font-size: 35px;
	position: relative;
	top: 6px;
	margin-right: 5px;
}

.features h3 {
	font-size: 18px;
    margin: 48px 0 14px;
    text-transform: uppercase;
    color: #7d71c2;
}
.features .col-md-4 {
	padding: 23px 25px;
	font-size: 16px;
	color: #777;
}
.features .title {
	font-size: 16px;
	font-weight: 600;
	line-height: 35px;
	color: #3f4457;
}
.features .title i {
	font-size: 35px;
	position: relative;
	top: 6px;
	margin-right: 5px;
}

.carousel.slide .carousel-control {
	display: none;
}
.carousel.slide .carousel-indicators {
	position: static;
	margin: 0 auto 20px;
}
.carousel.slide .carousel-indicators li {
	width: 20px;
	height: 20px;
    border: 2px solid #7d71c2;
}
.carousel.slide .carousel-indicators .active {
	width: 22px;
	height: 22px;
    background: #7d71c2;
}
.carousel.slide .carousel-inner img {
	margin: 0 auto;
}

.plans {
	padding: 60px 0;
	background: #f7f7f7;
}
.plans h3 {
	font-size: 16px;
    margin-top: 0;
    text-transform: uppercase;
    color: #7d71c2;
}
.plans h2 {
	font-size: 36px;
    margin-top: 34px;
	color: #3f4457;
}
.plans a.btn {
	background: #7d71c2 none repeat scroll 0 0;
    border-color: #7d71c2 #7d71c2 #59508a;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    height: 74px;
    line-height: 52px;
    margin-bottom: 20px;
    margin-top: 36px;
    width: 273px;
}

.switching h2 {
	font-size: 37px;
    margin: 57px 0;
	color: #3f4457;
}
.switching dl {
	margin-bottom: 0;
}
.switching dt {
    color: #7d71c2;
    font-size: 20px;
    font-weight: normal;
}
.switching dd {
	font-size: 16px;
    margin-bottom: 45px;
}
.learn {
	margin-bottom: 92px;
}
.learn h2 {
	font-size: 21px;
    margin: 12px 0;
}
.learn form {
	margin-top: 20px;
}
.learn .form-group {
	float: left;
    margin-left: 0;
    margin-right: 17px;
    width: 331px;
}

.question {
	background: url(../images/question.jpg) center -100px no-repeat;
	background-size: cover;
	min-height: 717px;
	padding: 60px 0;
}
.question h2 {
	font-size: 36px;
	color: #fff;
	margin-bottom: 56px;
	font-weight: normal;
}
.question input {
	height: 44px;
}
.question textarea {
	height: 220px;
}
.question button {
	display: block;
    font-size: 18px;
    height: 65px;
    margin: 0 auto;
    width: 204px;
    border-color: #7d71c2 #7d71c2 #59508a;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
}

.footer {
	height: 90px;
	line-height: 90px;
}
.socials a {
	width: 40px;
	height: 40px;
	display: inline-block;
	background: #000;
	border-radius: 40px;
	color: #fff;
	line-height: 43px;
	margin: 0 3px;
}
.socials a i {
	color: #fff;
	font-size: 20px;
}

#pricing table {
	margin: 0 auto;
	max-width: 400px;
}

#demo-gif, #demo-gif-image {
	max-width: 725px;
	padding-bottom: 20px;
}

#demo-gif-image {
	cursor: pointer;
}